@charset "utf-8";

.mod-about {
    padding: 70px 0;
}
.mod-about h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 25px;
}
.mod-about h2 span{
    display: block;
    font-size: 18px;
}
.mod-about .aboutText {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 90px;
}
.mod-about .outline .outlineCont {
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
}
.mod-about .outline .outlineCont img{
    width: 50vw;
}
.mod-about .outline .outlineCont .rightCont {
    text-align: center;
    float: right;
    width: 46vw;
    margin: 30px 2vw 0 2vw;
    line-height: 1.5;
}
.mod-about .outline .outlineCont .rightCont h3 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.mod-about .outline .outlineCont .rightCont .more {
    padding: 10px 20px;
    border-radius: 2em;
    vertical-align: middle;
    height: 35px;
    width: 140px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
}
.mod-about .outline .outlineCont .rightCont .more:hover {
    background-color: #000;
    color: #fff;
}
.mod-about .outline .outlineCont .rightCont .button {
    padding-top: 20px;
}

.mod-about .outline .outlineCont.type2 {
}
.mod-about .outline .outlineCont.type2 img{
  float: right;
}
@media screen and (max-width:768px) {
.mod-about {
    padding: 40px 0;
}
.mod-about h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 25px;
}
.mod-about h2 span{
    display: block;
    font-size: 13px;
}
.mod-about .aboutText {
    text-align: left;
    font-size: 15px;
    line-height: 1.7;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
}
.mod-about .outline .outlineCont {
    margin: 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
}
.mod-about .outline .outlineCont .rightCont ul {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 10px;
}
.mod-about .outline .outlineCont li {
    font-size: 15px;
}
.mod-about .outline .outlineCont img{
  width: 100vw;
}
.mod-about .outline .outlineCont .rightCont {
    float: none;
    width: 100%;
    padding: 0;
    line-height: 1.5;
    margin: 30px 0 50px;
}
.mod-about .outline .outlineCont .rightCont h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.mod-about .outline .outlineCont .rightCont .more {
}
.mod-about .outline .outlineCont .rightCont .more:hover {
    background-color: #000;
    color: #fff;
}
.mod-about .outline .outlineCont .rightCont .button {
    padding-top: 10px;
    float: none;
    margin: 0 auto;
    margin-bottom: 50px;
}

.mod-about .outline .outlineCont.type2 {
}
.mod-about .outline .outlineCont.type2 img{
  float: none;
}
.mod-about .outline .outlineCont.type2 .rightCont {
  margin: none;
}
}

/*下位全体設定*/
.mod-about.bottompage {
    padding: 100px 0; 
}
.mod-about.bottompage h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 25px;
}
.mod-about.bottompage h2 span{
    display: block;
    font-size: 18px;
}
.mod-about.bottompage .aboutText {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 40px;
}

/*ゲストハウスページ*/

/*イベントページ*/
.mod-about.bottompage .rightCont {
    text-align: center;
    margin: 30px 0;
    line-height: 1.5;
}
.mod-about.bottompage .image02box,
.mod-about.bottompage .imageTx02box {
    overflow: hidden;
}
.mod-about.bottompage .image02box img ,
.mod-about.bottompage .imageTx02box img, 
.mod-about.bottompage .imageTx02box .rightCont {
	float: left;
	width: 50vw;
}
.mod-about.bottompage .imageTx02box ul {
    margin: 0 auto;
    margin-bottom: 10px;
}
.mod-about.bottompage .imageTx02box li {
    font-size: 15px;
}
.mod-about.bottompage .imageTx02box h3 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.mod-about.bottompage .imageTx02box .more{
padding: 10px 20px;
    border-radius: 2em;
        vertical-align: middle;
	    height: 35px;
	        width: 140px;
		    border: 1px solid #000;
		        text-decoration: none;
			    color: #000;
		    }
.mod-about.bottompage .imageTx02box .more:hover {
    background-color: #000;
    color: #fff;
}
.mod-about.bottompage .imageTx02box .button {
    padding-top: 10px;
    float: none;
    margin: 0 auto;
    margin-bottom: 50px;
}
@media screen and (max-width:768px) {
.mod-about.bottompage .image02box img ,
.mod-about.bottompage .imageTx02box img, 
.mod-about.bottompage .imageTx02box .rightCont {
	width: 100vw;
}
}
/*地図ページ*/
.mod-about.map .map {
text-align: center;
}
.mod-about.map .message {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 2em;
    padding-top: 10px;
    vertical-align: middle;
    height: 30px;
    width: 140px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    margin-bottom: 40px;
}
.mod-about.map .message:hover {
background-color: #000;
color: #fff;
}
