@charset "utf-8";

.mod-catch {
    margin-top: 50px;
}
.mod-catch{
    position: relative;
    height: 750px;
    margin: 0 auto;
    background: url(./../../image/top_pc_01.png) no-repeat;
    background-position: 50% 50%;
    background-size: 1400px;
    position: relative;
}
.mod-catch .title {
    width: 850px;
	position: absolute;
	top: 50%;
	margin-top: -230px;
	left: 50%;
	margin-left: -425px;
}


/* SP */
@media screen and (max-width:768px) {
.mod-catch {
    background-color: #000;
    height: 720px;
    background: url(./../../image/mainpic.png) no-repeat;
    background-size: 1300px;
    background-position: 80% 0;
}
.mod-catch .title {
    width: 600px;
	position: absolute;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -300px;
}
}
