@charset "utf-8";

.mod-photos {
    width: 1000px;
    margin: 0 auto;
    /*text-align: center;*/
    padding: 70px 0;
}
@media screen and (max-width:768px) {
.mod-photos {
    width: 350px;
    margin: 0 auto;
    /*text-align: center;*/
    padding: 70px 0;
}
}
