@charset "utf-8";

.mod-copyright {
    padding: 10px 0 30px;
    background-color: #333;
}
.mod-copyright .copyrightText {
    color: #f7f7f7;
    font-size: 12px;
    text-align: center;
    line-height: 1.2;
}
