@charset "utf-8";

.mod-catch {
    background-color: #664733;
    margin-top: 50px;
}
.mod-catch .catchCont {
    height: 650px;
    margin: 0 auto;
    background: url(./../../image/header_img.png) no-repeat;
    background-position: 50% 50%;
    background-size: 1400px;
    position: relative;
}

/* SP */
@media screen and (max-width:768px) {
.mod-catch {
    background-color: #000;
    margin-top: 50px;
}
.mod-catch .catchCont {
    height: 370px;
    margin: 0;
    background: url(./../../image/header_img.png) no-repeat;
    background-position: 46%;
    background-size: 800px;
}
}
